{
    admin off
}

:2137 {
    
	# For all external modules
    handle_path /external/* {
        
        # FS-based modules (those, that get mounted in docker-compose.yml)
        root * /srv
        encode
        file_server browse
        
        # For modules hosted as complete web servers by different services [none right now]
        #reverse_proxy /example_name/* localhost:000
        
        redir / https://github.com/Team-GhostLand/magic-sauce#web-services permanent
    }
    
	# For the main website itself
    handle {
        reverse_proxy /* localhost:3000
    }
}