# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.

:25575 { # TODO: Ask Jifo to port-forward 80 (http 1+2), 443 (https 1+2), 80/udp (http 3) and 443/udp (https 3) - and switch to them, instead of RCON's 25575
	
	handle_path /modules/* {
		
		# FS-based modules (those, that get mounted in docker-compose.yml) [only CI right now]
		root * /srv
		encode
		file_server {
            hide /srv/ci/latest_server.mrpack
            browse
        }
		
		# For modules hosted as complete web servers by different services [only Create Track Map right now]
		reverse_proxy /railwaymap/* localhost:3876
		
		redir / / permanent # Looks very stupid, but basically - becasue prefixes are stripped - the first / means „modules/”, while the second is just "/"; the index.thml
	}
	
	handle {
		reverse_proxy /* localhost:3000
	}
}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfilex