services:
  minecraft:
    # Docker Config
    image: "itzg/minecraft-server:java21-graalvm"
    tty: true
    stdin_open: true
    ports:
      - "25565:25565"
    volumes:
      - ./minecraft/gl6:/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mc-health"]
      start_period: 210s #3,5m
      interval: 3s
      retries: 40
    # MC Config
    environment:
      # Version
      TYPE: "NEOFORGE"
      NEOFORGE_VERSION: "21.1.72"
      VERSION: "1.21.1"
      # Minecraft stuff
      GUI: "FALSE"
      EULA: "TRUE"              #  Why are some bools upper-case...
      # Java stuff
      MEMORY: "20G"
      USE_AIKAR_FLAGS: "true"   #  ...and others lower-? No fucking idea! I'm just following the docs, that's all.
      # Misc
      UID: "42069"
      GID: "121"
      TZ: "Europe/Warsaw"
      LOG_TIMESTAMP: "true"
#  
  #backuper:
    #image: itzg/mc-backup
    #user: "42069"
    #depends_on:
      #minecraft:
        #condition: service_healthy
    #environment:
      #BACKUP_INTERVAL: "10h"
      #RCON_HOST: "minecraft"
      #INITIAL_DELAY: 0
      #EXCLUDES: "*.jar,cache,logs,*.tmp,.cache,.e4mc_cache,.fabric,.mixin.out,crash-reports,immersive_paintings_cache,libraries,modernfix,versions,usercache.json,usernamecache.json"
      #TZ: "Europe/Warsaw"
      #BACKUP_NAME: "full"
      #PRUNE_BACKUPS_DAYS: 3
    #volumes:
      #- ./minecraft/gl6:/data:ro
      #- ./backups/gl6:/backups
